.canvas-container {
  border: 1px solid black;
  /*the shift for canvas-container, will be another for other images*/
  /*uncomment this if you not need dynamic changes*/
  /*top: 165px;*/
  /*left: 180px;*/
}

.working-area {
  background-image: url("../images/product.png");
  background-repeat: no-repeat;
  height: 500px;
}

.logo {
  /*border: 1px solid black;*/
}

.logo img{
  width: 200px;
}