<h2>Project</h2>
<div class="row">
  <div class="col-sm-8 col-md-8">
    <div class="working-area">
      <canvas id="editor"></canvas>
    </div>
  </div>
  <div class="col-sm-4 col-md-4">
    <h4>Logos</h4>
    <div class="logos">
      <div class="col-sm-6 logo" ng-repeat="logo in logos" ng-click="selectLogo(logo)">
        <img ng-src="{{logo}}"/>
      </div>
    </div>
    <button type="button" class="btn btn-success" ng-click="generateImage()">Save</button>
  </div>
  <div class="generated">
    <img ng-src="{{generatedImage}}"/>
  </div>
</div>